   <div class="form">
         <form action="" method=""> <!--BackEnd -->
            <h2>Register here</h2>
            <input type="text" name="Name" id="Name" placeholder="Enter Full Name Here"/>
            <input type="email" name="email" id="email" placeholder="Enter email Here"/>
            <input type="password" name="Password" id="Password" placeholder="Enter Password Here"/>
            <!-- Put the Role Here -->
            <button type="submit" class="btnn">Register</button>
        </form>

        <p class="link">Have an account<br><br><br>
        <a href="login">Sign in</a> here</p>
    </div>
