   <div class="form">
         <form (submit)="signUp()"> <!--BackEnd -->
            <h2>Register here</h2>
            <input type="text" id="name" [(ngModel)]="name" name="name" required placeholder="Enter Full Name Here"/>
            <input type="email" id="email" [(ngModel)]="email" name="email" required placeholder="Enter email Here"/>
            <input type="password" id="password" [(ngModel)]="password" name="password" required placeholder="Enter Password Here"/>
            <!-- Put the Role Here -->
            <button type="submit" class="btnn">Register</button>
        </form>

        <p class="link">Have an account<br><br><br>
        <!-- <a href="login">Sign in</a> here</p> -->
    </div>
