body {
  overflow-x: hidden;
  /* Prevent horizontal scrollbar */
}

.sidebar {
  height: 100vh;
  width: 70px;
  /* Adjust width as needed */
  background-color: var(--gray-dark);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100;
  transition: width 0.3s;
}

.sidebar:hover {
  width: 200px;

  /* Expand on hover */
}

.sidebar .nav-link {
  display: block;
  padding: 15px;
  color: var(--black-color);
  text-decoration: none;
  transition: background-color 0.3s;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sidebar .nav-link:hover {
  background-color: var(--secondary);
  color: white;
  // border-radius: 10px;
  border-top-right-radius: 20px;
  border-bottom-right-radius: 20px;
}

.sidebar .nav-link i {
  margin-right: 10px;
  /* Adjust icon spacing */
}

/* Style for collapsed menu items (hidden by default) */
.sidebar .nav-link span {
  display: none;
}

.sidebar:hover .nav-link span {
  display: inline;
}

/* end  slider-sideBar */
