<div class="exam-container">
  <div class="timer">
    <div class="circle">
      <div class="circle-bar"></div>
      <div class="circle-mask"></div>
      <div class="circle-value">
        <p>{{ getFormattedTime() }}</p>
      </div>
    </div>
  </div>
  <h1>Exam</h1>
  <div *ngFor="let question of questions; let i = index" class="question">
    <p>{{ i + 1 }}. {{ question.text }}</p>
    <div class="options">
      <div *ngFor="let option of question.options" class="option">
        <input type="radio" [name]="'question' + i" [value]="option" (change)="selectAnswer(i, option)" [disabled]="isSubmitted">
        <span [ngClass]="{'correct': result !== null && option === question.correctAnswer, 'incorrect': result !== null && option === answers[i] && option !== question.correctAnswer}">
          {{ option }}
        </span>
      </div>
    </div>
  </div>
  <div class="button-container">
    <p-button
      icon="pi pi-shopping-cart"
      class="product-button flex-auto md:flex-initial white-space-nowrap custom-buy-now-button"
      type="button"
      (click)="submitExam()"
      label="Submit"
      [disabled]="isSubmitted">
    </p-button>
  </div>
  <div *ngIf="result !== null" class="result">
    <h2>Your Score: {{ result }}/{{ questions.length }}</h2>
  </div>
</div>
