
  <div class="container">
    <div class="header">
      <div class="logo">
        <h1>Main Page (3Ses)</h1>
      </div>
      <div class="welcome-section">
        <h2>Welcome Student,<!-- From DataBase --></h2>
      </div>
      <div class="notifications">
        <i class="fas fa-bell"></i><span>2</span>
      </div>
    </div>

    <div class="main-content">
      <div class="courses">
        <h3>Current Courses:</h3>
        <div class="course-list">
          <div class="course-item">
            <div class="course-label">Arabic</div>
            <div class="course-prof">Prof. XXXXXXXXXX</div>
          </div>
          <div class="course-item">
            <div class="course-label">Physics</div>
            <div class="course-prof">Prof. XXXXXXXXXX</div>
          </div>
          <div class="course-item">
            <div class="course-label">English</div>
            <div class="course-prof">Prof. XXXXXXXXXX</div>
          </div>
          <div class="course-item">
            <div class="course-label">Chemistry</div>
            <div class="course-prof">Prof. XXXXXXXXXX</div>
          </div>
        </div>
      </div>

      <div class="calendar">
        <p-calendar
          class="max-w-full"
          [(ngModel)]="selectedDate"
          [inline]="true"
          [showWeek]="true">
        </p-calendar>
      </div>
    </div>
  </div>

