/* Section styling with .home-card */
.home-card {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: start;

}

/* General card styling */

.card {
  flex: 1 1 300px;
  max-width: 300px;
  border: 1px solid #A6A6A6;
  border-radius: 30px;
  overflow: hidden;
  font-family: 'Roboto', sans-serif;

}

/* Header styling */
.card-header {
  display: flex;
  align-items: center;
  padding: 10px;
  border: none;
  margin-top: 7px;
}

.avatar {
  background-color: #28A745;
  color: white;
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
  font-weight: bold;
}

.prof-name {
  margin-left: 10px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 200px;
}

.prof-name span {
  font-size: 14px;
  font-weight: bold;
}

/* Card body styling */
.card-body {
  padding: 10px 0;
}

.card-image {
  width: 100%;
  height: 180px;
  object-fit: cover;
  border-radius: 4px;
}

h2 {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
  min-height: 40px;
  line-height: 20px;
  overflow: hidden;
  display: -webkit-box;
  -webkit-line-clamp: 2;
  -webkit-box-orient: vertical;
}

/* Rating and price container */
.rating-price {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 10px 0;
}

.rating {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

.stars {
  color: #FFD700;
  font-size: 18px;
}

.rating-value {
  color: #555;
  font-size: 14px;
  margin-top: 5px;
}

.price-info {
  display: flex;
  flex-direction: column;
  text-align: right;
}

.old-price {
  text-decoration: line-through;
  color: #7C7C7C;
  font-weight: 500;
  font-size: 16px;
  white-space: nowrap;
}

.new-price {
  color: #28A745;
  font-weight: bold;
  font-size: 18px;
  white-space: nowrap;
}

/* Button styling */
.buttons {
  display: flex;
  justify-content: space-between;
  gap: 10px;
}

.enroll-btn,
.details-btn {
  border-radius: 100px;
  padding: 5px 12px;
  border: none;
  cursor: pointer;

  width: 100%;



  font-family: Roboto;
  font-size: 16px;
  font-weight: 500;
  line-height: 28.13px;
  letter-spacing: 0.03em;

}

.enroll-btn {
  background-color: #28A745;
  color: white;
}

.details-btn {
  background-color: #FF4800;
  color: white;
}

button:hover {
  opacity: 0.9;
}

/* Responsive design */
@media (max-width: 768px) {
  .home-card {
    gap: 15px;
  }
}

@media (max-width: 480px) {
  .home-card {
    gap: 10px;
  }
}

// end new Card
